/* @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Merriweather:wght@400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --trail-bark: 25 37% 17%; /* #3B2A1A bark - foreground */
    --trail-fog: 35 32% 93%; /* #F2EDE6 fog - page background */
    --trail-moss: 120 25% 24%; /* #2D4A2D moss */
    --trail-moss-light: 120 25% 40%; /* #4A7A4A moss light */
    --trail-lichen: 102 21% 52%; /* #7A9E6A lichen */
    --trail-terracotta: 26 47% 53%; /* #C4834A terracotta */
    --trail-chalk: 36 40% 97%; /* #FAF7F2 chalk */
    --trail-stone: 25 37% 17%; /* #E8E2D8 stone */
    --trail-pebble: 40 22% 78%; /* #D4CCBC stone */
    --trail-dusk: 276 20% 36%; /* #5C4A6E dusk purple */
    --trail-red: 0 77% 27%; /* #7a1010 red */
    
    --background: var(--trail-fog);
    --foreground: var(--trail-bark);

    --card: var(--trail-chalk);
    --card-foreground: var(--trail-bark);
    --card-border: var(--trail-pebble);

    --popover: 40 20% 96%;
    --popover-foreground: 30 15% 15%;

    --primary: var(--trail-moss);
    --primary-foreground: var(--card);

    --secondary: var(--trail-dusk);
    --secondary-foreground: var(--background);

    --muted: var(--trail-moss-light); 
    --muted-foreground: 44 30% 30%; 

    --accent: var(--trail-terracotta);
    --accent-foreground: var(--card);

    --destructive: var(--trail-red);
    --destructive-foreground: var(--card);

    --border: var(--trail-pebble);
    --input: var(--input-lichen)
    --ring: 145 35% 32%;

    --radius: 0.625rem;

    --sidebar-background: 145 25% 20%;
    --sidebar-foreground: 40 20% 92%;
    --sidebar-primary: 145 35% 42%;
    --sidebar-primary-foreground: 40 30% 96%;
    --sidebar-accent: 145 20% 28%;
    --sidebar-accent-foreground: 40 20% 92%;
    --sidebar-border: 145 18% 30%;
    --sidebar-ring: 145 35% 42%;


  
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}